@model IEnumerable<BeepSystems.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a  class="btn btn-primary" asp-action="CriarCliente">Criar Cliente</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="AtualizarCliente" asp-route-id="@item.ClienteId">Atualizar</a> |
                <a class="btn btn-danger" asp-action="ExcluirCliente" asp-route-id="@item.ClienteId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        }
    } );
} );
    </script>
}
